body {
  /* background-color: blanchedalmond; */
  background-image:url("https://static.vecteezy.com/system/resources/thumbnails/001/254/563/small_2x/the-texture-of-green-grass.jpg");
  background-attachment: fixed;
}

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font: bold;
  font-size: 30px;
  font-family: 'Jost', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  color: whitesmoke;
}

.filter-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: 'Jost', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  /* border: 10px solid white; */
  /* text-align: center; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-content: center; */
}

#modal-button {
  width: 150px;
  box-shadow: 5px 5px black;
  border: 2px solid greenyellow;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

button {
  width: 120px;
  box-shadow: 3px 3px black;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* .btn btn-danger {
  text-align: center bottom;
  justify-content: center bottom;
} */

#show-cats {
  color: white;
  background-color: rgb(1, 198, 252);
  border: 2px solid greenyellow;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#show-dogs {
  background-color: rgb(223, 160, 0);
  border: 2px solid greenyellow;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#show-dinos {
  background-color: lightseagreen;
  border: 2px solid greenyellow;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#all-pets {
  border: 2px solid greenyellow;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

#form-submit {
  margin-bottom: 10px;
  margin-left: 10px;
  border: 2px solid black;
}

.cats {
  background-color: rgb(1, 198, 252);
  border: 3px solid greenyellow;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.dog {
  background-color: rgb(223, 160, 0);
  border: 3px solid greenyellow;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.dino {
  background-color: lightseagreen;
  border: 3px solid greenyellow;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.card-text::first-letter {
  text-transform: capitalize;
}
